*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn-lg{
    display: block;
    margin: 0 auto;  
}
.btn-danger{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 10%;
    margin: 10px;
    font-size: x-small;
    
}

.clear-cart {
    width: 10%;
    align-items: center;
}

/* Responsive layout - when the screen is less than 800px wide,
 make the two columns stack on top of each other instead of next to each other 
 (and change the direction - make the "cart" column go on top) */
 @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
} 